<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {padding: 20px}
        div{
        padding-right: 30px;
        padding-left: 30px;
        }
    </style>
</head>
<body>
    
</body>
</html>
<center><br><br><br><br><br><br><br><br><br><br><br>
<div style="text">
  <i class="fa fa-user" style="font-size:150px;color:rgb(112, 65, 3)"></i></i><i class="fa fa-user" style="font-size:150px;color:rgb(72, 255, 0)"></i>
</div>
<div>
  <button class="text-center" type="button" class="btn btn-outline-primary">Primary</button>
  <button class="text-center" type="button" class="btn btn-outline-success">Success</button>
</div>
</center>