<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Management System</title>
</head>
<style>
  h1 {
    color: rgb(247, 247, 247);
  }

  button:hover {
    color: white;
    background-color: black !important
  }

  h1 {
    border: 2px solid black;
    width: 400px;
    background-color: rgb(85, 34, 0);
  }
</style>

<body style="background-color:rgb(136, 255, 239);">
  <br><br><br><br><br><br><br>
  <center>
    <h1>Library Mangement System</h1>
    <a href="/liblogin/">
      <button id="1btn"
        style="background-color: rgb(173, 247, 1); border-color: rgb(98, 98, 255); border-radius: 100px;">
        <h3>-->Librarian</h3>
      </button>
    </a>
    <br><br>
    <a href="login/">
      <button id="2btn"
        style="background-color: rgb(217, 76, 230); border-color: rgb(0, 0, 233); border-radius: 100px;">
        <h3>-->Student</h3>
      </button>
    </a>
  </center>
</body>

</html>